include partials/_variables
include partials/_mixins
include partials/_top
   include partials/_mobile_nav
   include partials/_header
   include partials/_nav

   include indexs/_slide
   include indexs/_topnews
   include indexs/_mdynews
   include indexs/_innernews
   include indexs/_interview
   include indexs/_footer



   include partials/_base
