.slide-wrapper.container
      .slide-card
         .slide-body 
            img(src="./assets/images/1.png" name="slide")
         .slide-caption
            each ind in [0,1,2,3,4]
               input(type="radio" name="slideradios" id=`slideradio${ind}` onclick="changeSlide(this.value)" value=ind)
         .slide-footer
            p Brighter Myanmar ကွန်ပြူတာ ပညာရှင်များ အဖွဲ့မှ ကြီးမှူး၍

      .aside-wrapper
         .aside-nav
            button လူမှူဘ၀
            button More +
         .aside-body 
            figure 
               +image("2.png","Slide 2 Image")
               figcaption #{sampleTitle}
            
            p. 
               #{samplePara}